.edit-profile-page {
  width: 100%;
  height: 100%;
}

.edit-profile-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86.5%;
  width: 100%;
  background-color: rgb(180, 211, 174);
}

.edit-profile-form {
  background-color: rgb(95, 143, 95);
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 50px;
  height: 600px;
  gap: 50px;
}

.edit-profile-fields {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.edit-profile-fields button {
  background-color: rgb(21, 61, 21);
  width: 100%;
}

.edit-profile-message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(201, 14, 14)
}

.edit-profile-img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
}

.edit-profile-img-container img {
  border-radius: 200px;
  border: solid rgb(211, 209, 209) 1px;
  min-height: 220px;
  max-height: 220px;
  min-width: 220px;
  max-width: 220px;
}

.cancel-img-button {
  border-radius: 20px;
  height: 30px;
  width: 25px;
}