body, html{
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../images//login-page-wallpaper.png");
}

.login-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 240, 203);
  width: 500px;
  height: 550px;
  border-radius: 20px;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  height: 90%;
}

.login-fields-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.linkToRegisterPage-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.login-message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  color: red;
}

.login-button {
  margin-top: 40px;
  width: 100%;
}