body, html{
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: url("../images//login-page-wallpaper.png");
}

.register-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1000px;
  height: 700px;
  border-radius: 20px;
}

.register-form {
  width: 50%;
  height: 100%;
  padding: 70px;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(203, 240, 203);
}

.image-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(111, 161, 111);
}

.register-page-logo {
  padding-top: 20px;
  padding-bottom: 200px;
}

.register-page-title {
  padding-bottom: 200px;
  padding-left: 70px;
  padding-right: 30px;
  font-family: 'Anton', sans-serif;
  font-size: 55px;
  word-break: break-all;
}

.check-policy-container {
  font-size: 12px;
}

.register-message-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  color: red;
}

.register-button {
  margin-top: 40px;
  width: 100%;
}