body, html{
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.search-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(180, 211, 174);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
  width: 80%;
  gap: 10px;
}

.search-input {
  width: 80%;
}

.search-button {
  margin-bottom: 1rem;
}

.albuns-main {
  width: 90%;
}

.albun-main-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albuns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.album-card {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.album-card:hover {
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(6, 80, 2);
}

.album-card-body {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 8px 11px;
}

.album-card, .search-card-body {
  width: 300px;
  min-height: 180px;
}

.result-title-container {
  display: flex;
  margin: 10px 0 50px 0;
  width: 90%;
}

.result-message {
  font-family: 'Fjalla One', sans-serif;
  color: rgb(1, 59, 10);
  text-align: center;
}
